      <!-- navbar header -->
      <div class="navbar-header {{app.settings.navbarHeaderColor}}">
        <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
          <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll-to="app">
          <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->
        <a href="#/" class="navbar-brand text-lt">
          <i class="fa fa-btc"></i>
          <img src="img/logo.png" alt="." class="hide">
          <span class="hidden-folded m-l-xs">{{app.name}}</span>
        </a>
        <!-- / brand -->
      </div>
      <!-- / navbar header -->

      <!-- navbar collapse -->
      <div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
        <!-- buttons -->
        <div class="nav navbar-nav hidden-xs">
          <a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
            <i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
          </a>
          <a href class="btn no-shadow navbar-btn" ui-toggle-class="show" target="#aside-user">
            <i class="icon-user fa-fw"></i>
          </a>
        </div>
        <ul class="nav navbar-nav hidden-sm">
          <li class="dropdown " dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
              <span translate="header.navbar.park.parkDefault">{{ park.name }}</span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdownOver" role="menu">
              <li ng-repeat="row in relatedParks"><a href="javascript:;" ng-click="changePark(row.id)" data-id="{{ row.id }}" >{{ row.name }}</a></li>
            </ul>
          </li>
          <li class="dropdown " dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
              <span translate="header.navbar.park.companyDefault">{{ company.name }}</span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdownOver" role="menu">
              <li ng-repeat="row in relatedCompanies"><a href="javascript:;" ng-click="changeCompany(row.id)"  data-id="{{ row.id }}" >{{ row.name }}</a></li>
            </ul>
          </li>
        </ul>
        <!-- 
        <div class="nav navbar-nav hidden-xs">
          <select class="form-control" ng-model="form.parkId" ng-change="changePark()" ng-options="row.id as row.name for row in relatedParks">
          </select>
        </div>
        <div class="nav navbar-nav hidden-xs">
          <select class="form-control" ng-model="form.companyId" ng-change="changeCompany()" ng-options="row.id as row.name for row in relatedCompanies">
          </select>
        </div> -->
        <!-- / buttons -->
        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right">
        	<li class="hidden-xs" style="margin-right: 20px;">
	            	<img style="width: 46px;height: 46px;border-radius: 50%;border: 2px #d8d8d8 solid;" src="{{form.photoUrl | imgUrl}}" onerror="$(this).attr('src','http://www.yuanqu.cc/ccplus/pc/images/person.png')"/>
          	</li>
        	<li class="hidden-xs" style="width: 50px;height: 50px;">
	            	<span class="hidden-sm hidden-md" style="line-height: 50px;text-align: center;font-size: 16px;">{{form.realname}}</span>
          	</li>
          	<li class="hidden-xs">
            	 <a href="javascript:;" ng-click="logout()">退出</a>
          	</li>
        </ul>
        <!-- / navbar right -->

      </div>
      <!-- / navbar collapse -->
