<div class="modal-header">
    <button type="button" class="close" ng-click="mm.close()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">{{mm.site.title}}</h4>
</div>
<div class="modal-body">
    <div class="wrapper-md ng-scope">
	    <form name="Form"  class="form-horizontal form-validation" novalidate>
	        <div class="form-group">
	            <label class="col-sm-3 control-label"><span class="text-danger">*</span>模块名称:</label>
	             <div class="col-sm-9">
	             	<span ng-if="mm.site.code == 1 || mm.site.code == 2">
	            		<input type="text" class="form-control" ng-model="mm.form.modelName" required ></input>
	             	</span>
	             	<span ng-if="mm.site.code == 3">
	            		<input type="text" class="form-control" ng-model="mm.form.modelName" disabled ></input>
	             	</span>
	            </div>
	        </div>
	        <div class="line line-dashed b-b line-lg"></div>
	        <div class="form-group">
	            <label class="col-sm-3 control-label"><span class="text-danger">*</span>模块编码:</label>
	             <div class="col-sm-9">
	             	<span ng-if="mm.site.code == 1 || mm.site.code == 2">
	            		<input type="text" class="form-control" ng-model="mm.form.modelCode" required ></input>
	             	</span>
	             	<span ng-if="mm.site.code == 3">
	            		<input type="text" class="form-control" ng-model="mm.form.modelCode" disabled ></input>
	             	</span>
	            </div>
	        </div>
	        <div class="line line-dashed b-b line-lg"></div>
	        
	         <div class="form-group">
	            <label class="col-sm-3 control-label"><span class="text-danger">*</span>json:</label>
	             <div class="col-sm-9">
	             	<span ng-if="mm.site.code == 1 || mm.site.code == 2">
	            		<input type="text" class="form-control" ng-model="mm.form.modelJson" required ></input>
	             	</span>
	             	<span ng-if="mm.site.code == 3">
	            		<input type="text" class="form-control" ng-model="mm.form.modelJson" disabled ></input>
	             	</span>
	            </div>
	        </div>
	        <div class="line line-dashed b-b line-lg"></div>
	         <div class="form-group">
	            <label class="col-sm-3 control-label"><span class="text-danger">*</span>备注:</label>
	             <div class="col-sm-9">
	             	<span ng-if="mm.site.code == 1 || mm.site.code == 2">
	            		<input type="text" class="form-control" ng-model="mm.form.remark" required ></input>
	             	</span>
	             	<span ng-if="mm.site.code == 3">
	            		<input type="text" class="form-control" ng-model="mm.form.remark" disabled ></input>
	             	</span>
	            </div>
	        </div>
	        
	        <div class="line line-dashed b-b line-lg"></div>
	        <div class="form-group">
	            <label class="col-sm-3 control-label"><span class="text-danger">*</span>状态:</label>
	             <div class="col-sm-9">
	             	<span ng-if="mm.site.code == 1 || mm.site.code == 2">
	            		<select class="form-control input-sm-h small"  ng-model = "mm.form.status1" ng-options = "a.value as a.name  for a in mm.site.statusList"  required></select>
	             	</span>
	             	<span ng-if="mm.site.code == 3">
	            		<select class="form-control input-sm-h small"  ng-model = "mm.form.status1" ng-options = "a.value as a.name  for a in mm.site.statusList"   disabled></select>
	             	</span>
	            </div>
	        </div>
	    </form>
    </div>
</div>
<div class="modal-footer">
    <span ng-if="mm.site.code == 1 || mm.site.code == 2">
    	<button type="button" class="btn btn-default" ng-click="mm.close()">取消</button>
    	<button type="button" class="btn btn-info" ng-disabled="Form.$invalid" ng-click="mm.addSave()">提交</button>
   	</span>
   	<span ng-if="mm.site.code == 3">
    	<button type="button" class="btn btn-default" ng-click="mm.close()">关闭</button>
   	</span>
</div>