<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<meta content="email=no" name="format-detection">
	<meta name="hotcss" content="max-width=640">
	<title>提交订单</title>
	<link rel="stylesheet" href="../../css/common.css" />
	<link rel="stylesheet" href="../../css/style.css" />
	<script type="text/javascript" src="../../js/common/hotcss.js"></script>
</head>

<body ng-app="myApp" ng-controller="AppCtrl" class="bottomBtnFixBody">

	<div class="container m-t-40">
		<p class="f-s-40 f-c-494848 p-l-r-40">服务订单：{{orderInfo.orderNo}}</p>
	</div>

	<div class="container m-t-40">
		<div class="textBox fix">
			<p class="f-l">预定类别：</p>
			<p class="f-r">{{orderInfo.orderDetails[0].type}}</p>
		</div>
		<div class="textBox fix" ng-if="orderInfo.type =='2'">
			<p class="f-l">单位名称：</p>
			<p class="f-r">{{orderInfo.typeName}}</p>
		</div>
		<div class="textBox fix">
			<p class="f-l">套餐名称：</p>
			<p class="f-r">{{orderInfo.packName}}</p>
		</div>
		<div class="textBox fix">
			<p class="f-l">预定数量：</p>
			<p class="f-r">{{orderInfo.orderDetails[0].orderCount}}</p>
		</div>
		<div class="textBox fix">
			<p class="f-l">合计总价：</p>
			<p class="f-r">{{orderInfo.priceAll}}元</p>
		</div>
		<div class="textBox fix">
			<p class="f-l">预定人姓名：</p>
			<p class="f-r">{{orderInfo.orderBy}}</p>
		</div>
		<div class="textBox fix">
			<p class="f-l">预定人部门：</p>
			<p class="f-r">{{orderInfo.orderDept[0].deptName}}</p>
		</div>
		<div class="textBox fix">
			<p class="f-l">预定人电话：</p>
			<p class="f-r">{{orderInfo.orderMobile}}</p>
		</div>
	</div>

	<div class="container m-t-40">
		<div class="textBox fix" ng-if="orderInfo.type =='个人'">
			<p class="f-l">结算方式：</p>
			<p class="f-r">微信支付</p>
		</div>
		<div class="textBox fix" ng-if="orderInfo.type =='单位'">
			<p class="f-l">结算方式：</p>
			<p class="f-r">月结</p>
		</div>
		<div class="textBox fix">
			<p class="f-l">取餐时间：</p>
			<p class="f-r">{{orderInfo.orderTime}}</p>
		</div>
	</div>
	<div class="bottomBtnTwo fix bottomBtnFix">
		<a href="javascript:;" style="width: 100%" class="confirm" ng-click="submit()">去支付</a>
	</div>

	<!-- 蒙版 -->
	<div class="masking"></div>

	<!-- 提交成功 -->
	<div class="successfulBox t-c">
		<div class="successHeader">
			<div class="successIcon"></div>
			<em class="successClose" ng-click="closeOrOpenTipBox('close')"></em>
		</div>
		<p class="f-s-50 f-b l-h-116 m-t-33">提交成功</p>
		<p class="f-s-40">订单提交成功，请在我的订单查看状态。</p>
		<a class="f-s-40">(
			<span class="countDown" ng-bind-template="{{ countDown }}"></span>s)返回首页</a>
	</div>

	<script type="text/javascript" src="../../js/common/angular.js"></script>
	<script type="text/javascript" src="../../js/common/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../../js/common/jccplus-1.2.js"></script>
	<script type="text/javascript" src="../../js/common/util.js"></script>
	<script type="text/javascript" src="../../js/restaurantBooking/dinnerOrderCompany.js"></script>
</body>

</html>