 
<div class="panel panel-default">
<div class="panel-body">
    <div class="col-sm-12">
            <h4>人员编辑</h4>
    </div>
<form class="form-horizontal" method="get">
    <!--flag-->
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
        <label class="col-sm-2 control-label">姓名<i class="needred">*</i></label>
            <div class="col-sm-10">
            <input type="text" ng-model="instance.model.personName" class="form-control">
            </div>
    </div>
       <!--flag-->
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
        <label class="col-sm-2 control-label">电话<i class="needred">*</i></label>
            <div class="col-sm-10">
            <input type="text" class="form-control" maxlength="11" max-length="11" ng-model="instance.model.personPhone">
            </div>
    </div>
     <!--flag-->
     <div class="line line-dashed b-b line-lg pull-in"></div>
     <div class="form-group">
         <label class="col-sm-2 control-label">邮箱<i class="needred">*</i></label>
        <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="instance.model.personMail">
        </div>
     </div>
     
    
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-9">
        <button type="reset" class="btn btn-default" ng-click="cancelEidt()"> 取消</button>
        <button type="submit" class="btn btn-primary"  ng-click="commitEdit()">保存</button>
      </div>
    </div>
  </form> 
  </div>
</div>