<div class="panel-body">
  
    <form class="form-horizontal" method="get">
            <div class="col-sm-12">
                    <h4>添加优惠信息</h4>
            </div>
        <!--flag-->
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">优惠名称<i class="needred">*</i></label>
            <div class="col-sm-10">
                    <input type="text" ng-model="instance.favourableModel.perferentialName" class="form-control" placeholder="请输入优惠名称"/> 
            </div>
        </div>
          <!--flag-->
          <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">优惠幅度<i class="needred">*</i></label>
            <div class="col-sm-5">
                    <input type="text" ng-model="instance.favourableModel.perferentialMargin" class="form-control" placeholder="请输入优惠幅度"/> 
            </div>
            <div class="col-sm-5">
                    <div class="col-sm-6">
                        <div class="radio">
                            <label class="i-checks" > 
                                <input type="radio" name="status" ng-checked="instance.favourableModel.perferentialType=='1'"   ng-click="selectType(1)" >
                                <i></i>
                                元
                            </label>
                        </div>       
                    </div>
                    <div class="col-sm-6">
                            <div class="radio">
                                <label class="i-checks" > 
                                    <input type="radio" name="status" ng-checked="instance.favourableModel.perferentialType=='2'"   ng-click="selectType(2)" >
                                    <i></i>
                                    折
                                </label>
                            </div> 
                    </div>
            </div>
          </div>
         <!--flag-->
         <div class="line line-dashed b-b line-lg pull-in"></div>
         <div class="form-group">
           <label class="col-sm-2 control-label">适用范围<i class="needred">*</i></label>
           
           <div class="col-sm-10">
                <label class="radio-inline" ng-repeat="it in instance.useScopes">
                    <input type="radio" ng-checked="instance.favourableModel.useSocpe==it.id" ng-model="instance.favourableModel.userScope" value="{{it.id}}">{{it.name}}</label>                            
                    
                   
           </div>
         </div>
        <!---->
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="col-sm-12">
                <h4>优惠范围<i class="needred">*</i></h4>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group" style="margin-bottom:0px;">
             
             
            <div class="col-sm-6">
                    <input type="text" ng-model="instance.params.name" class="form-control" placeholder="请输入公司名称"/>         
            </div>
            <div class="col-sm-3">
                <button class="btn btn-rounded btn-sm btn-info"  ng-click="search()"><i class="fa fa-fw fa-plus"></i> 查询</button>
            </div>
            
        </div>
        <!---->
        <div class="line line-dashed b-b line-lg pull-in"></div>
            
                <table  datatable-directive url="otherDataUrl" columns="otherColumns"   search-params="instance.params" indentify-key="engine"   
                 class="table table-striped b-t b-b">
                    <thead>
                        <tr>
                            <th><input type="checkbox" ng-model="isSelectAll" ng-click="selectAll()"/></th>
                            <th  style="width:45%">名称</th>                            
                            <th  style="width:45%">地址</th> 
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>            
            
         
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-9">
            <button type="reset" class="btn btn-default" ng-click="cancel()"> 取消</button>
            <button type="submit" class="btn btn-primary"  ng-click="commit()">保存</button>
            </div>
        </div>
        </form>
 </div>