<div class="panel panel-default">            
    <div class="panel-footer bg-light lter">
        <form class="form-horizontal" role="form">
            <div class="form-group" style="margin-bottom:0px;">
                <label class="col-sm-1 control-label">类型</label>
                <div class="col-sm-2">  
                    <select name="account" ng-model="instance.params.serviceTypeCode" class="form-control m-b">
                      
                        <option value="">全部</option>
                        <option value="{{it.code}}" ng-repeat="it in instance.addstype">{{it.name}}</option>
                                          
                    </select>       
                </div>
                <div class="col-sm-2">
                        <input type="text" ng-model="instance.params.serviceName" class="form-control" placeholder="请输入物品名称"/>         
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-rounded btn-sm btn-info"  ng-click="search()"><i class="fa fa-fw fa-plus"></i> 查询</button>
                </div>
                <div class="col-sm-1">
                    &nbsp;
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-rounded btn-sm btn-info"  ng-click="addNewValues()"><i class="fa fa-fw fa-plus"></i> 新增增值服务</button>
                </div>
            </div>
        </form>
    </div>
</div>
 
<div class="panel panel-default">  
        <div class="table-responsive">       
            <table  datatable-directive url="dataUrl" columns="columns" del="del(data)" view="view(data)"  search-params="instance.params" indentify-key="engine"  btns="d-v" 
            class="table  table-striped b-t b-b table-bordered table-hover" filters="maddvasFilter">
                <thead>
                    <tr>
                        <th  style="width:24%">服务分类</th>
                        <th  style="width:26%">服务名称</th>
                        <th  style="width:20%">服务价格</th>
                        <th  style="width:20%">附件</th>                         
                        <th  style="width:10%">操作</th> 
                        
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>            
        </div>
</div>
<modal-directive model-id='myModal'  setting="{title:'提示',btnName:'好的',content:'确定删除'}" callback="doYes()"></modal-directive>