<crumb title="管理" head="true"></crumb>
<div class="wrapper-md" ng-controller="CcSocialGrid">
	 <div class="panel panel-default">
	 	
        <div class="panel-heading">
            <button class="btn m-b-xs btn-sm btn-info btn-addon"   power-key="social:add"  ng-click="addNew()">
            	<i class="fa fa-plus"></i>新增
            </button>
        </div>
        <div class="panel-heading">
          <form class="form-inline ng-pristine ng-valid" role="form">
            <div class="form-group">
	          <input type="text" class="form-control" placeholder="请输入信息标题" ng-model="keyword" ng-keypress="search(keyword,$event)"/>
	        </div>
	        <button type="submit" class="btn btn-info" ng-click="search(keyword)">搜索</button>
		  </form>
        </div>
        <div class="table-responsive">
        	<table class="table table-striped b-t b-b">
        		<thead>
	                <tr>
	                    <th style="width:5%" data-breakpoints="xs">ID</th>
	                    <th style="width:10%" class="text-center">名称</th>
	                    <th style="width:10%" class="text-center">介绍</th>
	                    <th style="width:5%" class="text-center">类型</th>
	                    <th style="width:10%" class="text-center">发布人</th>
	                    <th style="width:10%" class="text-center">创建时间</th>
	                    <th style="width:5%" class="text-center">状态</th>
	                    <th style="width:5%" class="text-center">置顶</th>
	                    <th style="width:15%" class="text-center" data-breakpoints="xs" >操作</th>
	                </tr>
                </thead>
                <tbody>
	                <tr data-expanded="true" ng-repeat="row in rows">
	                    <td > {{paginationConf.currentPage ? paginationConf.pageSize*(paginationConf.currentPage-1)+$index+1 : $index+1}}</td>
	                    <td > {{row.name}}</td>
	                     <td > {{row.introduce}}</td>
	                    <td ng-switch="row.socialType">
							<!--这里也可以这样写 ng-switch on="person.name" -->
					        <span ng-switch-default></span>
					        <span ng-switch-when="1">活动</span>
					        <span ng-switch-when="2">话题</span>
					        <span ng-switch-when="3">专题</span>
					    </td>
	                    <td > {{row.createUser}}</td>
	                    <td > {{row.createTime}}</td>
	                    <td > {{row.socialStatus == 1 ? '已发布' : '未发布'}}</td>
	                     <td > {{row.isTop == 1 ? '置顶' : ''}}</td>
	                    <td>
	                        <div class="buttons">
	                            <button class="btn btn-sm btn-info" power-key="social:update"   ng-click="update(row.id)">编辑</button>
	                            <button class="btn btn-sm btn-danger" power-key="social:delete"   ng-click="deleteById(row.id)">删除</button>
	                        </div>
	                    </td>
	                </tr>
                </tbody>
        	</table>
        	<tmpagination conf="paginationConf"></tmpagination>
        </div>
	 </div>
</div>