<div class="panel panel-warning">
    <div class="panel-heading relative">
        <label class="fullAll">添加文件</label>
        <input class="inputFull" type="file" multiple="multiple" ng-model="myFile"/>
    </div>
    <div class="panel-body">
        <ul class="imgs">
            <li ng-repeat="file in files" class="pull-left">
                <div class="imgParent">
	        		<span>
	        			{{file.name}}
	        		</span>
                    <button class="btn deleteBtnS" ng-click="delete($index)">&times;</button>
                </div>
            </li>
        </ul>
    </div>
</div>