<div class="clear padder">
    <ul class="pagination pull-right" ng-show="conf.totalItems > 0">
        <li ng-class="{disabled: conf.currentPage == 1}" ng-click="prevPage()"><span>&laquo;</span></li>
        <li ng-repeat="item in pageList track by $index"
            ng-class="{active: item == conf.currentPage, separate: item =='...'}" ng-click="changeCurrentPage(item)">
            <span>{{ item }}</span>
        </li>
        <li ng-class="{disabled: conf.currentPage == conf.numberOfPages}" ng-click="nextPage()"><span>&raquo;</span>
        </li>
    </ul>
    <div class="pull-left" style="margin:20px 0;">
	    <div class="page-total" ng-show="conf.totalItems > 0">
	        第<input type="text" style="width:35px;margin:0 5px;text-align: center;" ng-model="jumpPageNum" ng-keyup="jumpToPage($event)"/>页
	        每页<select style="margin:0 5px;" ng-model="conf.pageSize" ng-options="option for option in conf.perPageOptions "
	                  ng-change="changeItemsPerPage()"></select>
	        共<strong style="magin-left:5px;">{{ conf.totalItems }}</strong>条
	    </div>
	    <div class="no-items" ng-show="conf.totalItems <= 0">暂无数据</div>
    </div>
</div>