<crumb title="下级园区权限管理" head="true"></crumb>
<div class="wrapper-md" ng-controller="TParkResGrid">
	 <div class="panel panel-default">
	 	
        <!-- <div class="panel-heading">
            <button class="btn m-b-xs btn-sm btn-info btn-addon" power-key="user:add" ng-click="addNew()">
            	<i class="fa fa-plus"></i>新增
            </button>
        </div> -->
        <div class="panel-heading">
          <form class="form-inline ng-pristine ng-valid" role="form">
            <div class="form-group">
	          <input type="text" class="form-control" placeholder="请输入园区名称" ng-model="keyword" ng-keypress="search(keyword,$event)"/>
	        </div>
	        <button type="submit" class="btn btn-info" ng-click="search(keyword)">搜索</button>
		  </form>
        </div>
        <div class="table-responsive">
        	<table class="table table-striped b-t b-b">
        		<thead>
	                <tr>
	                    <th style="width:5%" data-breakpoints="xs">ID</th>
	                    <th style="width:10%" class="text-center">名称</th>
	                    <th style="width:10%" class="text-center">地址</th>
	                    <th style="width:10%" class="text-center">类型 </th>
	                    <th style="width:10%" class="text-center">编号 </th>
	                    <th style="width:10%" class="text-center">备注</th>
	                    <th style="width:10%" class="text-center" data-breakpoints="xs" >操作</th>
	                </tr>
                </thead>
                <tbody>
	                <tr data-expanded="true" ng-repeat="row in rows">
	                    <td > {{paginationConf.currentPage ? paginationConf.pageSize*(paginationConf.currentPage-1)+$index+1 : $index+1}}</td>
	                    <td > {{row.name}}</td>
	                    <td > {{row.address}}</td>
	                    <td > {{row.parkType}}</td>
	                    <td > {{row.parkUrl}}</td>
	                    <td > {{row.remark}}</td>
	                    <td>
	                        <div class="buttons">
	                            <button class="btn btn-sm btn-info" ng-click="managerlist(row.id)">查看管理员</button>
	                            <button class="btn btn-sm btn-info" ng-click="userlist(row.id)">设置管理员</button>
	                            <button class="btn btn-sm btn-info" ng-click="resourcelist(row.id)">设置权限</button>
	                        </div>
	                    </td>
	                </tr>
                </tbody>
        	</table>
        	<tmpagination conf="paginationConf"></tmpagination>
        </div>
	 </div>
</div>