<crumb title="场地管理" head="true"></crumb>
<div class="wrapper-md" ng-controller="ThingsManageGrid">
	<div class="panel panel-default">

		<div class="panel-heading">
			<button class="btn m-b-xs btn-sm btn-info btn-addon" power-key="foodmanage:add" ng-click="addNew()">
				<i class="fa fa-plus"></i>新增
			</button>
		</div>
		<div class="panel-heading">
			<form class="form-inline ng-pristine ng-valid" role="form">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="输入菜单名称" ng-model="keyword" ng-keypress="search(keyword,$event)"/>
				</div>
				<button type="submit" class="btn btn-info" ng-click="search(keyword)">搜索</button>
			</form>

		</div>
		<div class="table-responsive">
			<table class="table table-striped b-t b-b">
				<thead>
				<tr>
					<th style="width:5%" class="text-center" data-breakpoints="xs">No.</th>
					<th style="width:20%" class="text-center">物品名称</th>
					<th style="width:10%" class="text-center">参数</th>
					<th style="width:10%" class="text-center">配置数量</th>
					<th style="width:10%" class="text-center">类型</th>
					<th style="width:10%" class="text-center">单价</th>
					<th style="width:10%" class="text-center">单位</th>
					<th style="width:15%" class="text-center" data-breakpoints="xs" >操作</th>
				</tr>
				</thead>
				<tbody>
				<tr data-expanded="true" ng-repeat="row in rows">
					<td > {{paginationConf.currentPage ? paginationConf.pageSize*(paginationConf.currentPage-1)+$index+1 : $index+1}}</td>
					<td > {{row.name}}</td>
					<td> {{row.params}}</td>
					<td> {{row.amount}}</td>
					<td> {{row.freeType == '1' ? '免费':'付费'}}</td>
					<td> {{row.price}}</td>
					<td> {{row.unit}}</td>
					<td>
						<div class="buttons">
							
							<button class="btn btn-sm btn-info" power-key="foodmanage:update" ng-click="update({{row.id}})">编辑</button>
							<button class="btn btn-sm btn-danger" power-key="foodmanage:delete" ng-click="deleteById(row.id)">删除</button>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
			<tmpagination conf="paginationConf"></tmpagination>
		</div>
	</div>
</div>
<style>.d-n{ display: none; }</style>