<crumb title="园区管理" head="true"></crumb>
<div class="wrapper-md" ng-controller="TParkGrid">
	 <div class="panel panel-default">
	 	
        <div class="panel-heading clearfix">
          <div class="pull-left">
	          <form class="form-inline ng-pristine ng-valid" role="form">
	            <div class="form-group">
		          <input type="text" class="form-control" placeholder="请输入用户名或者昵称" ng-model="keyword" ng-keypress="search(keyword,$event)"/>
		        </div>
		        <button type="submit" class="btn btn-info" ng-click="search(keyword)">搜索</button>
		        <button type="submit" class="btn btn-info" ng-click="search('')">清空</button>
			  </form> 
		  </div>
		  <div class="pull-right">
		  	<button class="btn m-b-xs btn-sm btn-info btn-addon" power-key="park:add" ng-click="addNew()">
            	<i class="fa fa-plus"></i>新增
            </button>
            <button class="btn m-b-xs btn-sm btn-info btn-addon"  ui-toggle-class="active" target=".settings">
            	<i class="fa fa-info"></i>指引
            </button>
		  </div>
		  
        </div>
        <div class="table-responsive">
        	<table class="table table-striped b-t b-b">
        		<thead>
	                <tr>
	                    <th  data-breakpoints="xs" class="text-center">ID</th>
	                    <th  class="text-center">园区名称</th>
	                    <th  class="text-center">类型</th>
	                    <th  class="text-center">状态</th>
	                    <!-- <th  class="text-center">网址 </th> -->
	                    <th  class="text-center">创建时间</th>
	                    <th  class="text-center" data-breakpoints="xs" >操作</th>
	                </tr>
                </thead>
                <tbody>
	                <tr data-expanded="true" ng-repeat="row in rows">
	                    <td > {{paginationConf.currentPage ? paginationConf.pageSize*(paginationConf.currentPage-1)+$index+1 : $index+1}}</td>
	                    <td > {{row.name}}</td>
	                    <td > {{row.parkType}}</td>
	                    <td > {{row.status1=='1'?'正常':'禁用'}}</td>
	                    <!-- <td > {{row.parkUrl}}</td> -->
	                    <td > {{row.createTime}}</td>
	                    <td>
	                    	<div class="btn-group" dropdown>
		                    	<button type="button" class="btn btn-default" dropdown-toggle>
					             	操作 <span class="caret"></span>
					            </button>
					            <ul class="dropdown-menu dropdown_menu" role="menu">
					              <li><a class="btn btn-sm"  power-key="park:update"  ng-click="update(row.id)">修改</a></li>
		                          <li><a class="btn btn-sm"  power-key="park:show"  ng-click="parkUsers(row.id)">园区成员</a></li>
		                          <li><a class="btn btn-sm"  power-key="park:joinPark"  ng-click="joinPark(row.id)">加入园区</a></li>
					              <li><a class="btn btn-sm"  power-key="park:delete"  ng-click="deleteById(row.id,row.status1)">{{ row.status1 == 1?'禁用':'开放' }}</a></li>
					              <!-- <li><a class="btn btn-sm btn-danger"    ng-click="freezeById(row.id)">冻结</a></li> -->
					              <li><a class="btn btn-sm"  power-key="park:parkinit"  ng-click="parkInit(row.id)" ng-if="row.isInit == 0 ">园区初始化</a></li>
					              <li><a class="btn btn-sm"  disabled="disabled" ng-if="row.isInit==1">已初始化</a></li>
					            </ul>
					    	</div>
	                    </td>
	                </tr>
                </tbody>
        	</table>
        	<tmpagination conf="paginationConf"></tmpagination>
        </div>
	 </div>
	 <div data-ng-include="'pages/baseinfo/utils/parkSetting/park_settings.html' " class="settings panel panel-default party_setting"></div>
</div>