<!-- 页面用于密码修改，暂未使用 -->

<div class="modal-header">
    <button type="button" class="close" ng-click="mm.close()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">{{mm.site.title}}</h4>
</div>
<div class="modal-body">
    <div class="wrapper-md ng-scope">
	    <form name="Form"  class="form-horizontal form-validation" novalidate>
	        <div class="form-group">
	            <label class="col-sm-3 control-label">新密码:</label>
	             <div class="col-sm-9">
	            	<input type="text" class="form-control" ng-model="password" ></input>
	            	<p>不填则默认为123456</p>
	            </div>
	        </div>
	    </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="mm.close()">取消</button>
    <button type="button" class="btn btn-info" ng-disabled="Form.$invalid" ng-click="mm.updateUserPassword()">确认修改</button>
</div>