<header id="header" class="app-header navbar" role="menu" ng-show="isShow">
    <!-- navbar header -->
    <div class="navbar-header bg-dark">
      <button class="pull-right visible-xs dk" ui-toggle-class="show" target=".navbar-collapse">
        <i class="glyphicon glyphicon-cog"></i>
      </button>
      <button class="pull-right visible-xs" ui-toggle-class="off-screen" target=".app-aside" ui-scroll="app">
        <i class="glyphicon glyphicon-align-justify"></i>
      </button>
      <!-- brand -->
      <a href="javascript:;" class="navbar-brand text-lt">
        <!--<i class="fa fa-btc"></i>
        <img src="../../libs/img/logo.png" alt="." class="hide">-->
        <span class="hidden-folded m-l-xs">场地系统</span>
      </a>
      <!-- / brand -->
    </div>
    <!-- / navbar header -->
  
    <!-- navbar collapse -->
    <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">
      <!-- buttons -->
      <div class="nav navbar-nav hidden-xs">
         
      </div>
      <!-- / buttons -->
  
      <!-- link and dropdown -->
      <ul class="nav navbar-nav hidden-sm">
        <li class="dropdown pos-stc">
          
          <div class="dropdown-menu wrapper w-full bg-white">
            <div class="row">
              <div class="col-sm-4">
                
              </div>
              <div class="col-sm-4 b-l b-light">
                 
              </div>
              <div class="col-sm-4 b-l b-light">
                
              </div>
            </div>
          </div>
        </li>
        <li class="dropdown">
          
        </li>
      </ul>
      <!-- / link and dropdown -->
  
      
  
      <!-- nabar right -->
      <ul class="nav navbar-nav navbar-right">
         
        <li class="dropdown">
           
          <!-- dropdown -->
          <ul class="dropdown-menu animated fadeInRight w">
           
            
            <li class="divider"></li>
            <li>
              <a ui-sref="access.signin">Logout</a>
            </li>
          </ul>
          <!-- / dropdown -->
        </li>
      </ul>
      <!-- / navbar right -->
    </div>
    <!-- / navbar collapse -->
  </header>
  <!-- / header -->