<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<meta name="hotcss" content="max-width=640">
		<title>订单详情</title>
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<link rel="stylesheet" href="../../css/common/swiper.min.css" />
		<script type="text/javascript" src="../../js/common/hotcss.js" ></script>
	</head>
	<body ng-app="myApp" ng-controller="AppCtrl" class="bottomBtnFixBody">
		<div class="container m-t-40">
			<p class="f-s-40 f-c-494848 p-l-r-40" ng-bind-template="服务订单：{{ orderDetail.orderNo }}"></p>
		</div>
		
		<div class="container m-t-40">
			<div class="textBox fix">
				<p class="f-l">携物者类别：</p>
				<p class="f-r" ng-bind-template="{{ {passType:orderDetail.passType,takeType:orderDetail.takeType} | setUserType }}"></p>
			</div>
			<div class="textBox fix">
				<p class="f-l">需放行人姓名：</p>
				<p class="f-r" ng-bind-template="{{ orderDetail.needPassName }}"></p>
			</div>
			<div class="textBox fix">
				<p class="f-l">需放行人电话：</p>
				<p class="f-r" ng-bind-template="{{ orderDetail.needPassMobile }}"></p>
			</div>
			<div class="textBox fix">
				<p class="f-l">需放行人单位：</p>
				<p class="f-r" ng-bind-template="{{ orderDetail.needPassOrg }}"></p>
			</div>
			<div class="textBox fix">
				<p class="f-l">物品名称及数量：</p>
				<p class="f-r" ng-bind-template="{{ orderDetail.goodsNumber }}"></p>
			</div>
			<div class="textBox fix">
				<p class="f-l">物品类别：</p>
				<p class="f-r" ng-bind-template="{{ orderDetail.goodsType1=='0' ? '非工程类' : '工程类' }}"></p>
			</div>
			<div class="textBox fix">
				<p class="f-l">申请放行时间：</p>
				<p class="f-r" ng-bind-template="{{ orderDetail.releaseTime }}"></p>
			</div>
			<div class="textBox fix" ng-if="orderDetail.file[0].filePath">
				<p>附件：</p>
				
				<div class="selectRepairsFile showFileImgBox">
					<ul class="fix">
						<li style="background: url({{ item.filePath }}) center no-repeat; background-size: cover;" data-imgurl="{{ item.filePath }}" data-index="{{ $index+1 }}" ng-repeat="item in orderDetail.file"></li>
					</ul>
				</div>
			</div>
			<div class="textBox fix">
				<p class="f-l">订单状态：</p>
				<p class="f-r" ng-bind-template="{{ { status : orderDetail.orderStatus , ext:orderDetail.ext1} | getOrderStatus }}"></p>
			</div>
			<div class="textBox fix" ng-if="orderDetail.orderStatus=='5'">
				<p class="f-l">实际放行时间：</p>
				<p class="f-r" ng-bind-template="{{ orderDetail.factPassDatetime }}"></p>
			</div>
			<div class="textBox fix" ng-if="orderDetail.orderStatus=='5'">
				<p class="f-l">放行处理人：</p>
				<p class="f-r" ng-bind-template="{{ orderDetail.checkUserName }}"></p>
			</div>
			<div class="textBox fix" ng-if="orderDetail.orderStatus=='6' || orderDetail.orderStatus=='2' || orderDetail.orderStatus=='4'">
				<p class="f-l">拒绝原因：</p>
				<p class="f-r" ng-bind-template="{{ orderDetail.remark }}"></p>
			</div>
		</div>
		
		<div class="container m-t-40">
			<div class="textBox fix">
				<p class="f-l">申请人姓名：</p>
				<p class="f-r" ng-bind-template="{{ orderDetail.createUserName }}"></p>
			</div>
			<div class="textBox fix">
				<p class="f-l">申请人单位：</p>
				<p class="f-r" ng-bind-template="{{ orderDetail.createUserDeptName }}"></p>
			</div>
			<div class="textBox fix">
				<p class="f-l">申请人电话：</p>
				<p class="f-r" ng-bind-template="{{ orderDetail.createUserMobile }}"></p>
			</div>
		</div>
		
		<div class="container m-t-40" ng-if="isAudit==1">
			<div class="inputBox">
				<p>拒绝原因:</p>
				<input type="text" placeholder="若拒绝请输入原因" name="rejectText" />
			</div>
		</div>
		
		<div class="bottomBtnTwo fix bottomBtnFix" ng-if="isAudit==1">
			<a href="javascript:;" class="cancel" ng-click="auditOrder('reject')">拒绝</a>
			<a href="javascript:;" class="confirm" ng-click="auditOrder('agree')">放行</a>
		</div>
		
		
		
		<!-- 蒙版 -->
		<div class="masking"></div>
		
		<!-- 提交成功 -->
		<div class="successfulBox t-c">
			<div class="successHeader">
				<div class="successIcon"></div>
				<em class="successClose" ng-click="closeOrOpenTipBox('close')"></em>
			</div>
			<p class="f-s-50 f-b l-h-116 m-t-33" ng-bind-template="{{ orderState }}"></p>
			<p class="f-s-40" ng-bind-template="{{ orderStateInfo }}"></p>
			<div class="f-s-40">(<span class="countDown" ng-bind-template="{{ countDown }}"></span>s)请等待</div>
		</div>		
		
		
		<script type="text/javascript" src="../../js/common/angular.js" ></script>
		<script type="text/javascript" src="../../js/common/jquery-1.8.3.min.js" ></script>
		<script type="text/javascript" src="../../js/common/util.js" ></script>
		<script type="text/javascript" src="../../js/common/swiper.min.js" ></script>
		<script type="text/javascript" src="../../js/releaseGoods/order.js"></script>
		
		
	</body>
</html>
