<div class="panel panel-default">        
    <div class="panel-body" style="max-height:480px;overflow:auto">  
        <div class="col-sm-12">
            <h4>物品信息修改</h4>
        </div>
        <form class="form-horizontal" method="get" >
            <!--s-->
            <div class="line line-dashed b-b line-lg pull-in"></div>
            
                <div class="col-sm-12">
                    <h4>免费物品</h4>
                </div>
                <table class="table table-striped m-b-none">
                    <tr ng-repeat="it in instance.freeGoods">
                        <td><input type="checkbox" ng-model="it.select"/></td>
                        <td>{{it.name}}</td>
                        <td>{{it.params}}</td>
                        <td>{{it.amount}}{{it.unit}}</td>
                       
                        <td><input type="text" ng-model="it.number"></td>
                    </tr>
                </table>
            <!--s-->
            <div class="line line-dashed b-b line-lg pull-in"></div>
             
                <div class="col-sm-12">
                    <h4>收费物品</h4>
                </div>
                <table class="table table-striped m-b-none">
                        <tr ng-repeat="it in instance.unfreeGoods">
                            <td><input type="checkbox" ng-model="it.select"/></td>
                            <td>{{it.name}}</td>
                            <td>{{it.params}}</td>
                            <td>{{it.amount}}{{it.unit}}</td>
                            <td>{{it.price}}元</td>
                            <td><input type="text" ng-model="it.number"></td>
                        </tr>
                    </table>
           
        </form>
    </div>
   
</div>
<div class="panel" style="height:30px;"> 
 
        <!-- s --> 
       <div class="col-sm-4 col-sm-offset-9">                    
           <button type="button" class="btn btn-default"  ng-click="cancel()">取消</button>
           <button type="button" class="btn btn-primary"  ng-click="updateOrderThings()">保存</button>
       </div>
   
</div>