<crumb title="数据图表管理" head="true"></crumb>
<div class="wrapper-md" ng-controller="TTableGrid">
	 <div class="panel panel-default">
	 	
        <div class="panel-heading">
        	<button class="btn m-b-xs btn-sm btn-info btn-addon"  power-key="company:add" ng-click="addNew()">
            	<i class="fa fa-plus"></i>新增
            </button>
        </div>
        <div class="panel-heading">
          <form class="form-inline ng-pristine ng-valid" role="form">
            <div class="form-group">
	          <input type="text" class="form-control" placeholder="请输入搜索内容" ng-model="keyword" ng-keypress="search(keyword,$event)"/>
	        </div>
	        <button type="submit" class="btn btn-info" ng-click="search(keyword)">搜索</button>
		  </form>
        </div>
        <div class="table-responsive">
        	<table class="table table-striped b-t b-b">
        		<thead>
	                <tr>
	                    <th style="width:5%" data-breakpoints="xs">ID</th>
	                    <th style="width:10%" class="text-center">图表名称</th>
	                    <th style="width:10%" class="text-center">所属业务</th>
	                    <th style="width:10%" class="text-center">统计业务</th>
	                    <th style="width:10%" class="text-center">图表类型</th>
	                    <th style="width:10%" class="text-center">操作</th>
	                </tr>
                </thead>
                <tbody>
	                <tr data-expanded="true" ng-repeat="row in rows">
	                    <td > {{paginationConf.currentPage ? paginationConf.pageSize*(paginationConf.currentPage-1)+$index+1 : $index+1}}</td>
	                    <td > {{row.name}}</td>
	                    <td > {{row.dataType}}</td>
	                    <td > {{row.statisticsName}}</td>
	                    <td > {{row.tableType}}</td>
	                    <td >
							<div class="buttons">
	                            <button class="btn btn-sm btn-info"  power-key="company:update" ng-show="false" ng-click="update(row.id)">编辑</button>
	                            <button class="btn btn-sm btn-danger"  power-key="company:delete" ng-show="false" ng-click="deleteById(row.id)">删除</button>
	                        </div>
						</td>
	                </tr>
                </tbody>
        	</table>
        	<tmpagination conf="paginationConf"></tmpagination>
        </div>
	 </div>
</div>