<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<meta name="hotcss" content="max-width=640">
		<title>订单详情</title>
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<script type="text/javascript" src="../../js/common/hotcss.js" ></script>
	</head>
	<body ng-app="myApp" ng-controller="AppCtrl">
		<div class="container m-t-40">
			<p class="f-s-40 f-c-494848 p-l-r-40">服务订单：<span ng-bind="orderInfo.orderNo"></span></p>
		</div>
		
		<div class="container m-t-40">
			<div class="textBox fix">
				<p class="f-l">事由：</p>
				<p class="f-r" ng-bind="orderInfo.reason"></p>
			</div>
			<div class="textBox fix">
				<p class="f-l">领导：</p>
				<p class="f-r" ng-bind="orderInfo.leader"></p>
			</div>
			<div class="textBox fix">
				<p class="f-l">接待时间：</p>
				<p class="f-r" ng-bind="time"></p>
			</div>
			<div class="textBox fix">
				<p class="f-l">出发地：</p>
				<p class="f-r" ng-bind="orderInfo.startAddress"></p>
			</div>
			<div class="textBox fix">
				<p class="f-l">目的地：</p>
				<p class="f-r" ng-bind="orderInfo.endAddress"></p>
			</div>
			<div class="textBox fix">
				<p class="f-l">小车数量：</p>
				<p class="f-r" ng-bind="orderInfo.smallCarNum"></p>
			</div>
			<div class="textBox fix">
				<p class="f-l">中巴数量：</p>
				<p class="f-r" ng-bind="orderInfo.midCarNum"></p>
			</div>
			<div class="textBox fix">
				<p class="f-l">用车类型：</p>
				<p class="f-r" ng-bind="orderInfo.useType"></p>
			</div>
		</div>
		
		
		<div class="container m-t-40">
			<div class="textBox fix">
				<p class="f-l">预订人名：</p>
				<p class="f-r" ng-bind="orderInfo.orderBy"></p>
			</div>
			<div class="textBox fix">
				<p class="f-l">预订人部门：</p>
				<p class="f-r" ng-bind="orderInfo.orderDept"></p>
			</div>
			<div class="textBox fix">
				<p class="f-l">预订人电话：</p>
				<p class="f-r" ng-bind="orderInfo.orderPhone"></p>
			</div>
		</div>
		
		<div class="container m-t-40">
			<div class="textBox fix">
				<p class="f-l">附件：</p>
				<a href="javascript:;" class="f-r" ng-bind="orderInfo.fileUrl"></a>
			</div>
			<div class="textBox fix">
				<p class="f-l">备注信息：</p>
				<p class="f-r" ng-bind="orderInfo.remark"></p>
			</div>
		</div>
		
		<div class="container m-t-40">
            <div class="inputBox">
                <p>司机姓名:</p>
                <p class="m-t-20" ng-bind="orderInfo.driverMap.driverName"></p>
            </div>
            <div class="inputBox">
                <p>司机电话:</p>
                <p class="m-t-20" ng-bind="orderInfo.driverMap.driverPhone"></p>
            </div>
            <div class="inputBox">
                <p>车牌号:</p>
                <p class="m-t-20" ng-bind="orderInfo.driverMap.carNumber"></p>
            </div>
			<div class="m-t-65">
				<a href="javascript:;" class="fill-btn confirm" ng-if="orderInfo.orderStatus < '4'"  ng-click="driverOperate('4')">接单</a>
				<a href="javascript:;" class="fill-btn confirm" ng-click="driverOperate('5')" ng-if="orderInfo.orderStatus == '4'" >到达出发地</a>
				<a href="javascript:;" class="fill-btn confirm" ng-click="driverOperate('6')" ng-if=" '4'< orderInfo.orderStatus && orderInfo.orderStatus <'6'">用车完成</a>
			</div>
		</div>
		
		
		<!-- 蒙版 -->
		<div class="masking"></div>

		<!-- 服务器忙 -->
		<div class="successfulBox errorfulBox t-c">
			<div class="successHeader">
				<div class="successIcon"></div>
				<em class="successClose" ng-click="closeOrOpenErrorTipBox('close')"></em>
			</div>
			<p class="f-s-50 f-b l-h-116 m-t-33">提示</p>
			<p class="f-s-40">服务器繁忙</p>
			<div class="f-s-40">(<span class="countDown" ng-bind-template="{{ countDown }}"></span>s)请等待</div>
		</div>
		
		
		<script type="text/javascript" src="../../js/common/angular.js" ></script>
		<script type="text/javascript" src="../../js/common/jquery-1.8.3.min.js" ></script>
		<script type="text/javascript" src="../../js/common/util.js" ></script>
		<script type="text/javascript" src="../../js/officialCars/receiveOrder.js" ></script>
	</body>
</html>
