  <div class="panel panel-default">
       
      <div class="panel-body">
     
          <!--list-->
          <div class="panel panel-default">  
                <div class="table-responsive">       
                  <table class="table"  
                   class="table table-striped b-t b-b">
                      <thead>
                      <tr>
                          <th>场地名称</th>
                          <th>会议主题</th>
                          <th></th>
                          <th>服务</th>
                          <th>面积</th>
                          <th>容纳人数</th>
                          <th>展示状态</th>                          
                          <th>操作</th>
                      </tr>
                      </thead>
                      <tbody>
                          <tr>

                          </tr>
                      </tbody>
                  </table>
                </div>
           
          </div>
          <!--list-->
        <!---main-->
      </div>
    </div>

    <modal-directive model-id='myModal'  setting="{title:'提示',btnName:'确定',content:'确定删除'}" callback="doYes()"></modal-directive>