<crumb title="应用运行状态" head="true"></crumb>
<div class="wrapper-md" ng-controller="DepRunAppsGrid">
	 <div class="panel panel-default">
	 	
        <!-- <div class="panel-heading">
            <button class="btn m-b-xs btn-sm btn-info btn-addon" power-key="apps:add" ng-click="addNew()">
            	<i class="fa fa-plus"></i>新增
            </button>
        </div> -->
        <!-- <div class="panel-heading">
          <form class="form-inline ng-pristine ng-valid" role="form">
            <div class="form-group">
	          <input type="text" class="form-control" placeholder="请输入应用名" ng-model="keyword" ng-keypress="search(keyword,$event)"/>
	        </div>
	        <button type="submit" class="btn btn-info" ng-click="search(keyword)">搜索</button>
		  </form>
        </div> -->
        <div class="table-responsive">
        	<table class="table table-striped b-t b-b">
        		<thead>
	                <tr>
	                    <th style="width:5%" class="text-center" data-breakpoints="xs">No.</th>
	                    <th style="width:10%" class="text-center">部署应用名称</th>
	                    <th style="width:10%" class="text-center">部署应用编码</th>
	                    <th style="width:5%" class="text-center">应用描述 </th>
	                    <th style="width:10%" class="text-center">接口总数</th>
	                    <th style="width:10%" class="text-center">更新时间</th>
	                    <th style="width:15%" class="text-center" data-breakpoints="xs" >操作</th>
	                </tr>
                </thead>
                <tbody>
	                <tr data-expanded="true" ng-repeat="row in serviceList">
	                    <td > {{$index+1}}</td>
	                    <td > {{row.appName}}</td>
	                    <td > {{row.appCode}}</td>
	                    <td > {{row.appDesc}}</td>
	                    <td > {{row.apiNumCount}}</td>
	                    <td > {{row.updateTime}}</td>
	                    <td>
	                        <div class="buttons">
	                        	<button class="btn btn-sm btn-info"  power-key="apps:detail"  ng-click="detail(row)">详情</button>
	                            <button class="btn btn-sm btn-info"  power-key="apps:update"  ng-click="update(row)">更新接口</button>
	                        </div>
	                    </td>
	                </tr>
                </tbody>
        	</table>
        	<!-- <tmpagination conf="paginationConf"></tmpagination> -->
        </div>
	 </div>
</div>