@charset "UTF-8";
.inputBox {
  padding: 0.2576489533rem 0.5152979066rem;
  box-sizing: border-box;
  margin-bottom: 0.0644122383rem; }
  .inputBox p {
    color: #494848;
    line-height: 0.7729468599rem;
    font-size: 0.5152979066rem; }
  .inputBox p span {
    width: 33.3%;
    display: inline-block; }
  .inputBox p em {
    width: 33.3%;
    margin-top: 1.9323671498rem;
    display: inline-block;
    color: #8999a9;
    font-style: normal; }
  .inputBox input[type='text'], .inputBox input[type='time'], .inputBox input[type='date'], .inputBox input[type='datetime-local'], .inputBox input[type='tel'], .inputBox input[type='datetime'], .inputBox input[type='number'] {
    width: 100%;
    height: 1.5458937198rem;
    border: 0.038647343rem solid #e2e2e2;
    font-size: 0.5152979066rem;
    padding: 0 0.2834138486rem;
    box-sizing: border-box;
    margin-top: 0.4508856683rem;
    background-color: #fff; }
    .inputBox input[type='text']:disabled, .inputBox input[type='text'][disabled], .inputBox input[type='time']:disabled, .inputBox input[type='time'][disabled], .inputBox input[type='date']:disabled, .inputBox input[type='date'][disabled], .inputBox input[type='datetime-local']:disabled, .inputBox input[type='datetime-local'][disabled], .inputBox input[type='tel']:disabled, .inputBox input[type='tel'][disabled], .inputBox input[type='datetime']:disabled, .inputBox input[type='datetime'][disabled], .inputBox input[type='number']:disabled, .inputBox input[type='number'][disabled] {
      color: #8997a5;
      -webkit-text-fill-color: #8997a5;
      opacity: 1;
      -webkit-opacity: 1; }
  .inputBox input {
    border-radius: 0.1288244767rem;
    color: #8997a5; }
    .inputBox input:focus {
      border: 0.038647343rem solid #5be3e3; }
  .inputBox .inputDropdown {
    position: relative;
    width: 100%;
    height: 1.5458937198rem;
    margin-top: 0.4508856683rem; }
  .inputBox .inputDropdown input {
    position: absolute;
    padding: 0 1.3655394525rem 0 0.2834138486rem;
    top: 0;
    left: 0;
    margin-top: 0; }
  .inputBox .inputDropdown em {
    position: absolute;
    right: 0.4508856683rem;
    top: 0.6441223833rem;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 0.2061191626rem solid #8997a5;
    border-left: 0.2061191626rem solid transparent;
    border-right: 0.2061191626rem solid transparent; }
  .inputBox .time-two > input[type='datetime-local'], .inputBox .time-two > input[type='datetime'] {
    width: 7.2141706924rem; }
  .inputBox .time-two > i {
    display: inline-block;
    width: 0.9017713366rem;
    height: 0.0515297907rem;
    background-color: #8997a5;
    margin: 1.1980676329rem 0.3607085346rem 0 0.3607085346rem; }
  .inputBox .time-two > div {
    width: 6.1320450886rem;
    position: relative;
    height: 1.5458937198rem;
    margin-top: 0.4508856683rem; }
  .inputBox .time-two > div input {
    padding: 0 1.5458937198rem 0 0.2834138486rem;
    position: absolute;
    margin-top: 0; }
  .inputBox .time-two > div em.calendar {
    position: absolute;
    right: 0;
    top: 0;
    border-left: 0.038647343rem solid #e2e2e2;
    border-radius: 0.1288244767rem 0 0 0.1288244767rem;
    box-sizing: border-box;
    display: inline-block;
    width: 1.5458937198rem;
    height: 1.5458937198rem;
    background: url(../img/calendar.png) center no-repeat;
    background-size: 0.7214170692rem 0.6441223833rem; }

.radioBox p {
  color: #494848;
  line-height: 1.0305958132rem;
  font-size: 0.5152979066rem; }

.inputBoxTime {
  width: 100%;
  position: relative;
  height: 1.5458937198rem;
  margin-top: 0.4508856683rem; }
  .inputBoxTime input[type='datetime-local'], .inputBoxTime input[type='datetime'], .inputBoxTime input[type='date'] {
    padding: 0 1.5458937198rem 0 0.2834138486rem;
    position: absolute;
    margin-top: 0; }
  .inputBoxTime em.calendar {
    position: absolute;
    right: 0;
    top: 0;
    border-left: 0.038647343rem solid #e2e2e2;
    border-radius: 0.1288244767rem 0 0 0.1288244767rem;
    box-sizing: border-box;
    display: inline-block;
    width: 1.5458937198rem;
    height: 1.5458937198rem;
    background: url(../img/calendar.png) center no-repeat;
    background-size: 0.7214170692rem 0.6441223833rem; }

.inputBoxHasRadio {
  padding: 0.2576489533rem 0.5152979066rem;
  box-sizing: border-box;
  width: 100%; }
  .inputBoxHasRadio input[type='text'], .inputBoxHasRadio input[type='number'] {
    display: none;
    width: 100%;
    height: 1.5458937198rem;
    border: 0.038647343rem solid #e2e2e2;
    font-size: 0.5152979066rem;
    padding: 0 0.2834138486rem;
    box-sizing: border-box;
    margin-top: 0.4508856683rem;
    background-color: #fff; }
    .inputBoxHasRadio input[type='text']:focus, .inputBoxHasRadio input[type='number']:focus {
      border: 0.038647343rem solid #5be3e3; }

.selectBox {
  padding: 0.2576489533rem 0.5152979066rem;
  box-sizing: border-box;
  margin-bottom: 0.0644122383rem; }
  .selectBox p {
    color: #494848;
    line-height: 0.7729468599rem;
    font-size: 0.5152979066rem; }
  .selectBox div {
    width: 100%;
    height: 1.5458937198rem;
    position: relative;
    margin-top: 0.4508856683rem;
    border: 0.038647343rem solid #e2e2e2;
    border-radius: 0.1288244767rem; }
    .selectBox div select {
      width: 100%;
      height: 100%;
      border: none;
      font-size: 0.5152979066rem;
      background-color: #fff;
      -webkit-appearance: none;
      color: #8997a5;
      padding: 0 0.2834138486rem;
      box-sizing: border-box; }
    .selectBox div:after {
      content: '';
      position: absolute;
      right: 0.4508856683rem;
      top: 0.6441223833rem;
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 0.2061191626rem solid #8997a5;
      border-left: 0.2061191626rem solid transparent;
      border-right: 0.2061191626rem solid transparent; }
    .selectBox div:hover {
      border: 0.038647343rem solid #5be3e3; }

.fileBox {
  padding: 0.2576489533rem 0.5152979066rem;
  box-sizing: border-box;
  margin-bottom: 0.0644122383rem; }
  .fileBox p {
    color: #494848;
    line-height: 0.7729468599rem;
    font-size: 0.5152979066rem; }
  .fileBox > div {
    position: relative;
    width: 100%;
    height: 1.5458937198rem;
    margin-top: 0.4508856683rem; }
  .fileBox > div > div {
    position: absolute;
    width: 100%;
    height: 100%; }
  .fileBox > div > div > div {
    width: 4.0837359098rem;
    height: 100%;
    background-color: #fdd456;
    border-radius: 0 0.1288244767rem 0.1288244767rem 0;
    color: #fff;
    font-size: 0.5152979066rem;
    line-height: 1.5458937198rem; }
  .fileBox > div > div > div em {
    display: inline-block;
    width: 0.7214170692rem;
    height: 0.5797101449rem;
    background: url(../img/file.png) no-repeat;
    background-size: contain;
    vertical-align: text-bottom; }
  .fileBox input[type='text'] {
    width: 10.885668277rem;
    height: 1.5458937198rem;
    border: 0.038647343rem solid #e2e2e2;
    border-right: none;
    border-radius: 0.1288244767rem 0 0 0.1288244767rem;
    font-size: 0.5152979066rem;
    padding: 0 0.2834138486rem;
    box-sizing: border-box;
    background-color: #fff;
    color: #8997a5;
    opacity: 1; }
    .fileBox input[type='text']:disabled, .fileBox input[type='text'][disabled] {
      color: #8997a5;
      -webkit-text-fill-color: #8997a5;
      opacity: 1;
      -webkit-opacity: 1; }
  .fileBox input[type='file'] {
    opacity: 0;
    position: absolute;
    width: 4.0837359098rem;
    height: 100%;
    right: 0;
    top: 0; }

.textareaBox {
  padding: 0.2576489533rem 0.5152979066rem;
  box-sizing: border-box;
  margin-bottom: 0.0644122383rem; }
  .textareaBox p {
    color: #494848;
    line-height: 0.7729468599rem;
    font-size: 0.5152979066rem; }
  .textareaBox textarea {
    width: 100%;
    height: 5.1400966184rem;
    margin-top: 0.4508856683rem;
    border: 0.038647343rem solid #e2e2e2;
    font-size: 0.5152979066rem;
    line-height: 0.7729468599rem;
    padding: 0.2834138486rem;
    box-sizing: border-box;
    background-color: #fff;
    color: #8997a5;
    border-radius: 0.1288244767rem;
    resize: none;
    -webkit-appearance: none;
    outline: none; }
    .textareaBox textarea:focus {
      border: 0.038647343rem solid #5be3e3; }

.selectLeaderBox {
  position: absolute;
  top: 1.2238325282rem;
  left: 0;
  width: 100%;
  z-index: 11;
  -webkit-transition: -webkit-transform .5s;
  transition: transform .3s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }

.selectLeaderBox.show {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transition: transform .3s linear;
  -moz-transition: transform .3s linear;
  -webkit-transition: transform .3s linear;
  -o-transition: transform .3s linear; }

.selectLeader {
  width: 93%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0.2576489533rem;
  padding: 0.8760064412rem 0.5152979066rem;
  box-sizing: border-box; }

.selectHeader {
  width: 100%;
  height: 0.6698872786rem;
  line-height: 0.6698872786rem;
  position: relative; }
  .selectHeader p {
    font-size: 0.6956521739rem;
    color: #323232;
    position: absolute;
    width: 100%;
    z-index: 1;
    text-align: center; }
  .selectHeader a {
    display: inline-block;
    width: 0.6698872786rem;
    height: 0.6698872786rem;
    background: url(../img/close.png) no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    z-index: 2;
    cursor: pointer; }

.selctPeopleBox {
  margin-top: 0.7471819646rem;
  font-size: 0.5152979066rem; }
  .selctPeopleBox div {
    color: #494848;
    width: 2.2930756844rem; }
  .selctPeopleBox ul {
    width: 11.5555555556rem; }
  .selctPeopleBox ul li {
    color: #8997a5;
    width: 2.576489533rem;
    height: 1.2624798712rem;
    border: 0.038647343rem solid #dcdcdc;
    border-radius: 0.2576489533rem;
    box-sizing: border-box;
    float: left;
    text-align: center;
    line-height: 1.2624798712rem;
    cursor: pointer;
    margin: 0 0 0.6312399356rem 1.2753623188rem;
    cursor: pointer; }
    .selctPeopleBox ul li.select {
      color: #fff;
      background-color: #fdd456;
      border-color: #fdd456; }

.selctOthderPeopleBox {
  margin-top: 0.7471819646rem;
  font-size: 0.5152979066rem; }
  .selctOthderPeopleBox div {
    width: 2.2930756844rem; }
    .selctOthderPeopleBox div a {
      display: inline-block;
      width: 2.576489533rem;
      height: 1.2624798712rem;
      color: #fff;
      font-size: 0.5152979066rem;
      text-align: center;
      line-height: 1.2624798712rem;
      background-color: #5be3e3;
      border-radius: 0.2576489533rem; }

.addOtherLeaderBox {
  display: none;
  width: 93%;
  background-color: #fff;
  margin: 0.5152979066rem auto;
  padding-top: 1.0305958132rem;
  box-sizing: border-box;
  border-radius: 0.2576489533rem;
  overflow: hidden; }
  .addOtherLeaderBox h4 {
    font-size: 0.6956521739rem;
    color: #323232;
    text-align: center;
    margin-bottom: 0.7214170692rem; }
  .addOtherLeaderBox textarea {
    width: 92%;
    height: 4.0064412238rem;
    margin: 0 4%;
    border: 0.038647343rem solid #e2e2e2;
    font-size: 0.5152979066rem;
    line-height: 0.7729468599rem;
    padding: 0.2834138486rem;
    box-sizing: border-box;
    background-color: #fff;
    color: #8997a5;
    border-radius: 0.1288244767rem;
    resize: none;
    -webkit-appearance: none;
    outline: none; }
    .addOtherLeaderBox textarea:focus {
      border: 0.038647343rem solid #5be3e3; }
  .addOtherLeaderBox div {
    margin-top: 1.1336553945rem; }
    .addOtherLeaderBox div a {
      display: inline-block;
      width: 50%;
      height: 1.9323671498rem;
      font-size: 0.5152979066rem;
      color: #fff;
      text-align: center;
      line-height: 1.9323671498rem;
      float: left; }

.textBox {
  width: 100%;
  padding: 0.6441223833rem 0.5152979066rem;
  font-size: 0.5152979066rem;
  box-sizing: border-box; }
  .textBox p:nth-child(1) {
    color: #8997a5;
    width: 30%; }
  .textBox p:nth-child(2) {
    color: #323232;
    width: 69%;
    text-align: right; }
  .textBox a {
    color: #8997a5;
    display: inline-block;
    width: 69%;
    text-align: right;
    word-break: break-all; }

.bottomBtnTwo {
  width: 100%; }
  .bottomBtnTwo button {
    border: 0;
    display: inline-block;
    width: 50%;
    height: 1.9323671498rem;
    font-size: 0.5152979066rem;
    color: #fff;
    text-align: center;
    line-height: 1.9323671498rem;
    float: left; }

.successfulBox {
  min-height: 9.4299516908rem;
  height: auto;
  padding-bottom: 0.2576489533rem;
  width: 84%;
  position: fixed;
  top: 5.152979066rem;
  left: 8%;
  z-index: 15;
  background-color: #fff;
  border-radius: 0.3220611916rem;
  overflow: hidden;
  -webkit-transition: -webkit-transform .5s;
  transition: transform .3s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }
  .successfulBox .successHeader {
    width: 100%;
    height: 4.9082125604rem;
    background: -webkit-linear-gradient(left, #57bdff, #5be3e3);
    background: -o-linear-gradient(left, #57bdff, #5be3e3);
    background: -moz-linear-gradient(left, #57bdff, #5be3e3);
    background: -mos-linear-gradient(left, #57bdff, #5be3e3);
    background: linear-gradient(left, #57bdff, #5be3e3);
    position: relative; }
    .successfulBox .successHeader div {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      background: url(../img/successfulIcon.png) center no-repeat;
      background-size: 40%; }
    .successfulBox .successHeader em {
      display: inline-block;
      width: 1.4170692432rem;
      height: 1.4170692432rem;
      background: url(../img/tipClose.png) no-repeat;
      background-size: contain;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
      cursor: pointer; }
  .successfulBox p {
    color: #303462;
    width: 85%;
    margin: 0 auto; }
  .successfulBox > div.f-s-40, .successfulBox > a.f-s-40 {
    display: inline-block;
    width: 4.5088566828rem;
    height: 1.0177133655rem;
    background-color: #fdd456;
    border-radius: 0.2576489533rem;
    color: #fff;
    line-height: 1.0177133655rem;
    text-align: center;
    margin: 0.4508856683rem auto 0 auto; }
  .successfulBox.show {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transition: transform .3s linear;
    -moz-transition: transform .3s linear;
    -webkit-transition: transform .3s linear;
    -o-transition: transform .3s linear; }

.defaultP {
  padding: 0.2576489533rem 0.5152979066rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.0644122383rem;
  color: #494848;
  line-height: 0.7729468599rem;
  font-size: 0.5152979066rem; }

.orderStateBox {
  padding: 0.2576489533rem 0.5152979066rem;
  width: 100%;
  height: 3.2206119163rem;
  box-sizing: border-box;
  position: relative;
  overflow: hidden; }
  .orderStateBox > div {
    width: 82%;
    height: 0.1803542673rem;
    position: absolute;
    left: 8%;
    top: 0.6956521739rem;
    z-index: 1; }
  .orderStateBox > div > div {
    width: 100%;
    height: 100%;
    background-color: #dcdcdc;
    position: relative; }
  .orderStateBox > div > div > em {
    display: inline-block;
    width: 0;
    height: 100%;
    background-color: #5be3e3;
    position: absolute; }
  .orderStateBox > ul {
    width: 93%;
    position: absolute;
    z-index: 2; }
  .orderStateBox > ul li {
    width: 12%;
    float: left;
    margin-left: 17%;
    text-align: center; }
  .orderStateBox > ul li:first-child {
    margin-left: 0; }
  .orderStateBox > ul li em {
    display: inline-block;
    width: 1.0305958132rem;
    height: 1.0305958132rem;
    border-radius: 50%;
    background-color: #dcdcdc; }
  .orderStateBox > ul li.select em {
    background-color: #5be3e3; }
  .orderStateBox > ul li p {
    font-size: 0.5152979066rem;
    color: #8997a5; }
  .orderStateBox > ul li.select.current p {
    color: #5be3e3; }
  .orderStateBox > ul li.reject {
    display: none; }
  .orderStateBox.rejectOrder > div > div > em {
    width: 100%; }
  .orderStateBox.rejectOrder > ul li.course {
    display: none; }
  .orderStateBox.rejectOrder > ul li.reject {
    margin-left: 75%;
    display: block; }
  .orderStateBox.rejectOrder > ul li em {
    background-color: #5be3e3; }
  .orderStateBox.rejectOrder > ul li:last-child p {
    color: #5be3e3; }

.evaluateBox {
  width: 93%;
  margin: 0 auto;
  border: 0.038647343rem solid #e2e2e2;
  border-radius: 0.1288244767rem;
  box-sizing: border-box;
  margin-bottom: 0.2576489533rem;
  padding: 0.3220611916rem; }
  .evaluateBox textarea {
    width: 100%;
    border: none;
    height: auto;
    font-size: 0.5152979066rem;
    color: #8997a5; }
    .evaluateBox textarea:disabled, .evaluateBox textarea[disabled] {
      color: #8997a5;
      -webkit-text-fill-color: #8997a5;
      opacity: 1;
      -webkit-opacity: 1;
      background-color: #fff; }
  .evaluateBox p {
    width: 100%;
    color: #8997a5;
    line-height: 0.7729468599rem;
    font-size: 0.5152979066rem;
    margin-bottom: 0.3349436393rem; }
  .evaluateBox.defaultEvaluate {
    height: 8rem; }
    .evaluateBox.defaultEvaluate textarea {
      height: 3.8647342995rem;
      margin-bottom: 0.3349436393rem; }
  .evaluateBox ul li {
    width: 2.8985507246rem;
    height: 2.8985507246rem;
    margin-right: 0.1288244767rem;
    background: url(../img/uploadImg.png) no-repeat;
    background-size: contain;
    float: left;
    position: relative; }
  .evaluateBox ul li img {
    width: 100%;
    height: 100%; }
  .evaluateBox ul li input[type='file'] {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0; }

.gradeBox {
  padding: 0.2576489533rem 0.5152979066rem;
  width: 100%;
  box-sizing: border-box; }
  .gradeBox p {
    color: #494848;
    line-height: 1.1078904992rem;
    font-size: 0.5152979066rem;
    width: 30%; }
  .gradeBox div {
    width: 70%; }
    .gradeBox div ul li {
      width: 1.1594202899rem;
      height: 1.1078904992rem;
      background: url(../img/start.png) center no-repeat;
      background-size: contain;
      margin-left: 0.9017713366rem;
      float: right;
      cursor: pointer; }
    .gradeBox div ul li.select {
      background: url(../img/start2.png) center no-repeat;
      background-size: contain; }

.inputBox.pos-abs {
  width: 100%; }

.selectCarBox {
  display: none;
  width: 14.9694041868rem;
  height: auto;
  background-color: #f7f7f7;
  position: absolute;
  top: 1.4814814815rem;
  z-index: 2;
  border-radius: 0.1288244767rem;
  padding: 0.4895330113rem 0.4895330113rem 1.1078904992rem 0.4895330113rem;
  box-sizing: border-box; }
  .selectCarBox div.carListHeader {
    width: 100%;
    line-height: 0.7729468599rem; }
    .selectCarBox div.carListHeader a {
      color: #79cef2;
      font-size: 0.5152979066rem;
      margin-right: 0.38647343rem; }
    .selectCarBox div.carListHeader span {
      font-size: 0.5152979066rem;
      color: #989898; }
    .selectCarBox div.carListHeader em {
      display: inline-block;
      border-bottom: 0.231884058rem solid #79cef2;
      border-left: 0.231884058rem solid transparent;
      border-right: 0.231884058rem solid transparent;
      vertical-align: middle;
      cursor: pointer;
      margin-top: 0.193236715rem; }
  .selectCarBox div.carListHeader.middlerCar {
    margin-top: 0.6183574879rem; }
  .selectCarBox ul li {
    float: left;
    width: 2.576489533rem;
    height: 1.2624798712rem;
    font-size: 0.5152979066rem;
    text-align: center;
    line-height: 1.2624798712rem;
    color: #8997a5;
    border-radius: 0.1288244767rem;
    border: 0.038647343rem solid #dcdcdc;
    margin-left: 1.0305958132rem;
    margin-top: 0.6183574879rem;
    cursor: pointer; }
    .selectCarBox ul li:nth-child(4n+5), .selectCarBox ul li:first-child {
      margin-left: 0.1803542673rem; }
    .selectCarBox ul li.select {
      background-color: #5be3e3;
      border-color: #5be3e3;
      color: #fff; }
    .selectCarBox ul li.unselect {
      background-color: #dcdcdc;
      border-color: #dcdcdc;
      color: #fff; }

.orderHeader {
  width: 100%;
  height: 4.7407407407rem;
  padding-top: 0.5152979066rem;
  box-sizing: border-box;
  background: -webkit-linear-gradient(left, #57bdff, #5be3e3);
  background: -o-linear-gradient(left, #57bdff, #5be3e3);
  background: -moz-linear-gradient(left, #57bdff, #5be3e3);
  background: -mos-linear-gradient(left, #57bdff, #5be3e3);
  background: linear-gradient(left, #57bdff, #5be3e3); }
  .orderHeader .orderNav {
    width: 100%;
    padding: 0.9017713366rem 0.7729468599rem;
    box-sizing: border-box; }
    .orderHeader .orderNav ul li {
      float: left;
      color: #fff;
      font-size: 0.5152979066rem;
      margin-left: 4.0966183575rem;
      cursor: pointer; }
      .orderHeader .orderNav ul li:first-child {
        margin-left: 0; }
    .orderHeader .orderNav em {
      display: inline-block;
      border-bottom: 0.4251207729rem solid #f7f7f7;
      border-left: 0.4251207729rem solid transparent;
      border-right: 0.4251207729rem solid transparent;
      margin-left: 4%; }

.orderSearchBox {
  width: 14.4283413849rem;
  height: 1.8035426731rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.2576489533rem;
  margin: 0 auto;
  padding: 0.4508856683rem 0.4508856683rem 0.4508856683rem 0.6183574879rem;
  box-sizing: border-box; }
  .orderSearchBox i {
    display: inline-block;
    width: 0.7729468599rem;
    height: 0.8115942029rem;
    background: url(../img/search.png) no-repeat;
    background-size: contain;
    margin-right: 0.5797101449rem; }
  .orderSearchBox input {
    width: 12.0064412238rem;
    height: 0.8115942029rem;
    border: none;
    font-size: 0.5152979066rem;
    color: #fff;
    background-color: transparent; }
    .orderSearchBox input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .orderSearchBox input:-moz-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .orderSearchBox input::-moz-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .orderSearchBox input:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .orderSearchBox input:disabled, .orderSearchBox input[disabled] {
      color: #fff;
      -webkit-text-fill-color: #fff;
      opacity: 1;
      -webkit-opacity: 1; }

.orderItem {
  width: 100%;
  padding: 0 0.5152979066rem;
  box-sizing: border-box; }
  .orderItem .orderItem-header {
    padding-bottom: 0.5152979066rem; }
    .orderItem .orderItem-header p:nth-child(1) {
      width: 35%; }
    .orderItem .orderItem-header p:nth-child(2) {
      width: 65%; }
  .orderItem .orderItem-info {
    margin-top: 0.5152979066rem;
    font-size: 0.5152979066rem;
    color: #8997a5; }
    .orderItem .orderItem-info .serviceImg {
      width: 4.1223832528rem;
      height: 3.0917874396rem;
      background: url(../img/back/orderCar.jpg) no-repeat;
      background-size: contain;
      margin-right: pax2rem(40); }
    .orderItem .orderItem-info .serviceInfo {
      width: 10.305958132rem; }
      .orderItem .orderItem-info .serviceInfo div:nth-child(1) {
        width: 100%;
        height: 2.3188405797rem;
        line-height: 0.7729468599rem; }
      .orderItem .orderItem-info .serviceInfo div:nth-child(2) p {
        width: 50%; }
      .orderItem .orderItem-info .serviceInfo div:nth-child(2) div {
        width: 50%; }
        .orderItem .orderItem-info .serviceInfo div:nth-child(2) div a {
          margin-left: 1.5458937198rem; }
          .orderItem .orderItem-info .serviceInfo div:nth-child(2) div a:last-child {
            margin-left: 0; }

.colorHeader {
  width: 100%;
  padding: 0.5152979066rem 0;
  box-sizing: border-box;
  background: -webkit-linear-gradient(left, #57bdff, #5be3e3);
  background: -o-linear-gradient(left, #57bdff, #5be3e3);
  background: -moz-linear-gradient(left, #57bdff, #5be3e3);
  background: -mos-linear-gradient(left, #57bdff, #5be3e3);
  background: linear-gradient(left, #57bdff, #5be3e3); }

.searchContainer {
  width: 14.4283413849rem;
  background-color: #fff;
  margin: 0.7729468599rem auto 0 auto;
  border-radius: 0.1288244767rem;
  padding: 0.7729468599rem;
  box-sizing: border-box; }
  .searchContainer > a {
    width: 100%;
    margin-top: 2.0611916264rem; }
  .searchContainer .inputBox {
    padding: 0; }
  .searchContainer .inputBox .time-two > i {
    width: 0.5152979066rem; }
  .searchContainer .inputBox .time-two > div {
    width: 45%; }

.historyListBox {
  height: 100%;
  margin-top: 3.3494363929rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.visitList {
  width: 100%;
  padding: 0.5410628019rem;
  box-sizing: border-box; }
  .visitList div p {
    color: #494848;
    font-size: 0.5152979066rem;
    line-height: 0.9275362319rem; }
    .visitList div p span {
      margin-left: 1.0305958132rem; }
  .visitList div p:nth-child(2) {
    color: #8997a5; }
  .visitList a {
    color: #79cef2;
    font-size: 0.5152979066rem;
    line-height: 1.8550724638rem; }
    .visitList a em {
      display: inline-block;
      width: 0.2962962963rem;
      height: 0.6054750403rem;
      background: url(../img/rightArrow.png) no-repeat;
      background-size: contain;
      vertical-align: middle;
      margin-left: 0.5410628019rem; }

.time-two-select > input[type='datetime-local'], .time-two-select .time-two > input[type='datetime'] {
  width: 7.2141706924rem; }
.time-two-select > i {
  display: inline-block;
  width: 0.9017713366rem;
  height: 0.0515297907rem;
  background-color: #8997a5;
  margin: 1.1980676329rem 0.3607085346rem 0 0.3607085346rem; }
.time-two-select > div:nth-child(1) {
  width: 44%;
  position: relative;
  height: 1.5458937198rem;
  margin-top: 0.4508856683rem; }
.time-two-select > div:nth-child(1) input[type='date'] {
  padding: 0 1.5458937198rem 0 0.2834138486rem;
  position: absolute;
  margin-top: 0; }
.time-two-select > div:nth-child(1) em.calendar {
  position: absolute;
  right: 0;
  top: 0;
  border-left: 0.038647343rem solid #e2e2e2;
  border-radius: 0.1288244767rem 0 0 0.1288244767rem;
  box-sizing: border-box;
  display: inline-block;
  width: 1.5458937198rem;
  height: 1.5458937198rem;
  background: url(../img/calendar.png) center no-repeat;
  background-size: 0.7214170692rem 0.6441223833rem; }
.time-two-select > div.timeSelect {
  width: 44%;
  height: 1.5458937198rem;
  position: relative;
  margin-top: 0.4508856683rem;
  border: 0.038647343rem solid #e2e2e2;
  border-radius: 0.1288244767rem; }
  .time-two-select > div.timeSelect select {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 0.5152979066rem;
    background-color: #fff;
    -webkit-appearance: none;
    color: #8997a5;
    padding: 0 0.2834138486rem;
    box-sizing: border-box; }
  .time-two-select > div.timeSelect:before {
    content: '';
    position: absolute;
    right: 0;
    border-left: 0.038647343rem solid #e2e2e2;
    border-radius: 0.1288244767rem 0 0 0.1288244767rem;
    box-sizing: border-box;
    display: inline-block;
    width: 1.5458937198rem;
    height: 1.5458937198rem; }
  .time-two-select > div.timeSelect:after {
    content: '';
    position: absolute;
    right: 0.5152979066rem;
    top: 0.6441223833rem;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 0.2061191626rem solid #8997a5;
    border-left: 0.2061191626rem solid transparent;
    border-right: 0.2061191626rem solid transparent; }
  .time-two-select > div.timeSelect:hover {
    border: 0.038647343rem solid #5be3e3; }

.restaurantBox {
  width: 100%;
  padding: 0.38647343rem;
  box-sizing: border-box; }
  .restaurantBox ul li {
    float: left;
    width: 7.3429951691rem;
    height: 10.8212560386rem;
    background-color: #fff;
    border-radius: 0.2576489533rem;
    margin: 0.1288244767rem; }
    .restaurantBox ul li div.foodImg {
      width: 100%;
      height: 6.6731078905rem; }
    .restaurantBox ul li div.foodInfo {
      width: 100%;
      height: 4.1481481481rem;
      padding: 0.4122383253rem 0.5152979066rem;
      box-sizing: border-box; }
      .restaurantBox ul li div.foodInfo p.foodName {
        font-size: 0.5152979066rem;
        color: #323232;
        line-height: 0.6441223833rem; }
      .restaurantBox ul li div.foodInfo p.foodCal {
        font-size: 0.4637681159rem;
        color: #8997a5;
        line-height: 0.5797101449rem; }
      .restaurantBox ul li div.foodInfo > div.foodCalBox {
        height: 1.1594202899rem; }
      .restaurantBox ul li div.foodInfo > div {
        width: 100%; }
        .restaurantBox ul li div.foodInfo > div div.foodAttr {
          font-size: 0.5152979066rem;
          color: #fff;
          max-width: 2.3188405797rem;
          height: 1.0434782609rem;
          line-height: 1.0434782609rem;
          border-radius: 0.1288244767rem;
          text-align: center;
          padding: 0 0.2576489533rem;
          text-align: center; }
          .restaurantBox ul li div.foodInfo > div div.foodAttr.highGlucose {
            background-color: #fdd456; }
          .restaurantBox ul li div.foodInfo > div div.foodAttr.seafood {
            background-color: #5be3e3; }
        .restaurantBox ul li div.foodInfo > div p.foodLike {
          font-size: 0.4637681159rem;
          color: #8997a5;
          line-height: 1.0434782609rem;
          cursor: pointer; }
          .restaurantBox ul li div.foodInfo > div p.foodLike i {
            display: inline-block;
            width: 0.4380032206rem;
            height: 0.3735909823rem;
            background: url(../img/like.png) center no-repeat;
            background-size: contain;
            margin-right: 0.2576489533rem;
            vertical-align: middle;
            position: relative; }
            .restaurantBox ul li div.foodInfo > div p.foodLike i:after {
              content: '';
              position: absolute;
              width: 0.4380032206rem;
              height: 0.3735909823rem;
              z-index: -1;
              background: url(../img/like2.png) center no-repeat;
              background-size: contain;
              transform: scale(0, 0);
              -ms-transform: scale(0, 0);
              -moz-transform: scale(0, 0);
              -webkit-transform: scale(0, 0);
              -o-transform: scale(0, 0); }
          .restaurantBox ul li div.foodInfo > div p.foodLike.select i:after {
            z-index: 2;
            transform: scale(1.1, 1.1);
            -ms-transform: scale(1.1, 1.1);
            -moz-transform: scale(1.1, 1.1);
            -webkit-transform: scale(1.1, 1.1);
            -o-transform: scale(1.1, 1.1);
            transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -webkit-transition: all .2s ease-out;
            -o-transition: all .2s ease-out; }
          .restaurantBox ul li div.foodInfo > div p.foodLike.unselect i:after {
            z-index: -1;
            transform: scale(0, 0);
            -ms-transform: scale(0, 0);
            -moz-transform: scale(0, 0);
            -webkit-transform: scale(0, 0);
            -o-transform: scale(0, 0);
            transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -webkit-transition: all .2s ease-out;
            -o-transition: all .2s ease-out; }

.dinnerMenuBox {
  width: 100%;
  margin: 0.4508856683rem 0;
  height: 7.5491143317rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; }
  .dinnerMenuBox ul {
    width: 41.2238325282rem; }
    .dinnerMenuBox ul li {
      width: 7.4718196457rem;
      height: 7.4718196457rem;
      float: left;
      box-sizing: border-box;
      border-radius: 0.2576489533rem;
      margin: 0 0.3220611916rem;
      overflow: hidden;
      background-color: #fff; }
      .dinnerMenuBox ul li > div.dinnerFoodImg {
        width: 100%;
        height: 5.7842190016rem;
        position: relative;
        border-radius: 0.2576489533rem 0.2576489533rem 0 0; }
        .dinnerMenuBox ul li > div.dinnerFoodImg div.weekTip {
          width: 1.5330112721rem;
          height: 1.1465378422rem;
          line-height: 1.1465378422rem;
          text-align: center;
          border: 0.038647343rem solid #fff;
          border-radius: 0.2576489533rem 0.2576489533rem 0.2576489533rem 0;
          position: absolute;
          top: 0;
          left: 0;
          background-color: #fdd456;
          color: #fff;
          font-size: 0.4637681159rem; }
      .dinnerMenuBox ul li > div.dinnerFoodInfo {
        width: 100%;
        line-height: 1.5716586151rem;
        padding: 0 0.5152979066rem;
        box-sizing: border-box; }
        .dinnerMenuBox ul li > div.dinnerFoodInfo p.foodName {
          font-size: 0.5152979066rem;
          color: #323232;
          width: 70%; }
        .dinnerMenuBox ul li > div.dinnerFoodInfo p.foodPrice {
          font-size: 0.4637681159rem;
          color: #8997a5;
          width: 30%;
          text-align: right; }
      .dinnerMenuBox ul li:nth-of-type(even) > div.dinnerFoodImg div.weekTip {
        background-color: #5be3e3; }
      .dinnerMenuBox ul li:first-child {
        margin: 0 0.3220611916rem 0 0.6441223833rem; }
      .dinnerMenuBox ul li:last-child {
        margin: 0 0.6441223833rem 0 0.3220611916rem; }
      .dinnerMenuBox ul li.select {
        border: 0.0644122383rem solid #fdd456; }

.payBox {
  width: 100%;
  position: relative; }
  .payBox:after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 8.309178744rem;
    background: -webkit-linear-gradient(left, #57bdff, #5be3e3);
    background: -o-linear-gradient(left, #57bdff, #5be3e3);
    background: -moz-linear-gradient(left, #57bdff, #5be3e3);
    background: -mos-linear-gradient(left, #57bdff, #5be3e3);
    background: linear-gradient(left, #57bdff, #5be3e3); }
  .payBox p.payTimeCountdown {
    padding: 1.2238325282rem 0; }
  .payBox > div {
    width: 9.2753623188rem;
    height: 9.2753623188rem;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    -moz-box-shadow: 10px 10px 40px rgba(38, 121, 185, 0.1);
    box-shadow: 10px 10px 40px rgba(38, 121, 185, 0.1); }
    .payBox > div p.payMoney {
      font-size: 2.2930756844rem;
      color: #fdd456;
      padding-top: 2.7053140097rem; }
      .payBox > div p.payMoney span {
        font-size: 0.9017713366rem; }
    .payBox > div p.payOrderId {
      color: #8997a5; }

.morePlaceHolder {
  position: relative;
  width: 100%; }
  .morePlaceHolder p {
    position: absolute;
    top: 0.4508856683rem;
    line-height: 1.5458937198rem;
    right: 0.5152979066rem;
    color: #a4a4a4; }

.radioBox3 {
  padding: 0.2576489533rem 0.5152979066rem;
  box-sizing: border-box;
  margin-bottom: 0.0644122383rem; }
  .radioBox3 p {
    color: #494848;
    line-height: 0.7729468599rem;
    font-size: 0.5152979066rem; }
  .radioBox3 div {
    width: 100%;
    text-align: center; }
    .radioBox3 div span {
      display: inline-block;
      width: 32%;
      font-size: 0.5152979066rem;
      color: #8997a5;
      line-height: 0.8244766506rem;
      cursor: pointer;
      text-align: left; }
      .radioBox3 div span i {
        display: inline-block;
        width: 0.8244766506rem;
        height: 0.8244766506rem;
        border-radius: 50%;
        border: 0.0257648953rem solid #8997a5;
        box-sizing: border-box;
        margin-right: 0.4895330113rem;
        vertical-align: middle; }
      .radioBox3 div span.select i {
        border-color: #fdd456;
        position: relative; }
        .radioBox3 div span.select i:after {
          content: '';
          position: absolute;
          width: 0.5410628019rem;
          height: 0.5410628019rem;
          border-radius: 50%;
          background-color: #fdd456;
          top: 0.115942029rem;
          left: 0.115942029rem; }

.orderStateBox.restaurantPayState li.reject {
  margin-left: 75%;
  display: block; }
.orderStateBox.restaurantPayState.isPay > ul li em, .orderStateBox.restaurantPayState.isPay .orderStateBox > div > div > em {
  background-color: #5be3e3; }
.orderStateBox.restaurantPayState.isPay > div > div > em {
  width: 100%; }
.orderStateBox.restaurantPayState.isPay > ul li:last-child p {
  color: #5be3e3; }

.meetingRoomBox {
  width: 100%; }
  .meetingRoomBox ul {
    width: 100%; }
    .meetingRoomBox ul li {
      width: 100%;
      height: 9.0177133655rem;
      margin-bottom: 0.5152979066rem; }
      .meetingRoomBox ul li a, .meetingRoomBox ul li > div {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: #fff; }
        .meetingRoomBox ul li a .meetingRoomImg, .meetingRoomBox ul li > div .meetingRoomImg {
          width: 100%;
          height: 5.732689211rem; }
        .meetingRoomBox ul li a .meetingRoomInfo, .meetingRoomBox ul li > div .meetingRoomInfo {
          width: 100%;
          height: 3.2850241546rem;
          padding: 0.3607085346rem 0.5152979066rem;
          box-sizing: border-box; }
          .meetingRoomBox ul li a .meetingRoomInfo > p, .meetingRoomBox ul li > div .meetingRoomInfo > p {
            font-size: 0.5410628019rem;
            color: #494949;
            line-height: 0.9017713366rem;
            width: 100%; }
          .meetingRoomBox ul li a .meetingRoomInfo > div, .meetingRoomBox ul li > div .meetingRoomInfo > div {
            margin-top: 0.193236715rem; }
            .meetingRoomBox ul li a .meetingRoomInfo > div p, .meetingRoomBox ul li > div .meetingRoomInfo > div p {
              font-size: 0.4508856683rem;
              color: #959595;
              line-height: 0.7729468599rem; }
              .meetingRoomBox ul li a .meetingRoomInfo > div p i, .meetingRoomBox ul li > div .meetingRoomInfo > div p i {
                display: inline-block;
                width: 0.3349436393rem;
                height: 0.4122383253rem;
                vertical-align: middle;
                margin-right: 0.3220611916rem; }
                .meetingRoomBox ul li a .meetingRoomInfo > div p i.location, .meetingRoomBox ul li > div .meetingRoomInfo > div p i.location {
                  background: url(../img/location.png) center no-repeat;
                  background-size: contain; }
                .meetingRoomBox ul li a .meetingRoomInfo > div p i.person, .meetingRoomBox ul li > div .meetingRoomInfo > div p i.person {
                  background: url(../img/person.png) center no-repeat;
                  background-size: contain; }

.inputBox .time-two.allTime > div {
  width: 44%; }

.meetRoomTimeSelect {
  width: 93%;
  margin: 0 auto;
  background-color: #f7f7f7;
  border-radius: 0.2576489533rem;
  box-sizing: border-box;
  overflow: hidden; }
  .meetRoomTimeSelect .timeSelectHeader {
    width: 100%;
    background-color: #fff;
    padding: 0.8760064412rem 0.5152979066rem;
    box-sizing: border-box; }
    .meetRoomTimeSelect .timeSelectHeader .weekSelect {
      width: 100%;
      height: 1.5974235105rem;
      border: 0.038647343rem solid #79cef2;
      text-align: center;
      box-sizing: border-box;
      border-radius: 0.2576489533rem;
      margin-top: 1.1078904992rem; }
      .meetRoomTimeSelect .timeSelectHeader .weekSelect > div {
        width: 50%;
        height: 100%;
        line-height: 1.5974235105rem;
        float: left;
        text-align: center;
        color: #323232;
        font-size: 0.5410628019rem;
        cursor: pointer; }
        .meetRoomTimeSelect .timeSelectHeader .weekSelect > div.select {
          background-color: #79cef2;
          color: #fff; }
  .meetRoomTimeSelect .timeSelectItem {
    margin-top: 0.5152979066rem;
    width: 100%;
    background-color: #fff;
    padding: 0 0.5152979066rem;
    box-sizing: border-box; }
    .meetRoomTimeSelect .timeSelectItem ul {
      width: 100%; }
      .meetRoomTimeSelect .timeSelectItem ul li {
        width: 100%;
        border-bottom: 0.0128824477rem solid #e2e2e2;
        padding: 0.6441223833rem 0;
        box-sizing: border-box; }
        .meetRoomTimeSelect .timeSelectItem ul li div.meetingDate {
          width: 2.962962963rem; }
        .meetRoomTimeSelect .timeSelectItem ul li div.timeItem {
          width: 2.576489533rem;
          height: 1.2624798712rem;
          line-height: 1.2624798712rem;
          margin: 0.231884058rem 0.6183574879rem;
          border-radius: 0.2576489533rem;
          box-sizing: border-box;
          text-align: center;
          color: #8997a5;
          font-size: 0.5152979066rem;
          border: 0.038647343rem solid #dcdcdc;
          cursor: pointer; }
          .meetRoomTimeSelect .timeSelectItem ul li div.timeItem:last-child {
            margin: 0.231884058rem 0 0.231884058rem 0.6183574879rem; }
          .meetRoomTimeSelect .timeSelectItem ul li div.timeItem.overdue {
            background-color: #dcdcdc;
            color: #fff; }
          .meetRoomTimeSelect .timeSelectItem ul li div.timeItem.select {
            background-color: #fdd456;
            border-color: #fdd456;
            color: #fff; }
          .meetRoomTimeSelect .timeSelectItem ul li div.timeItem.ordered {
            background-color: #5be3e3;
            border-color: #5be3e3;
            color: #fff; }

.orderNav.releaseGoodNav em {
  margin-left: 7%; }
.orderNav.releaseGoodNav ul li:last-child {
  float: right; }

.releaseGoodsIn {
  display: none; }

.moreTypeSelectBox {
  padding: 0.2576489533rem 0.5152979066rem;
  box-sizing: border-box;
  margin-bottom: 0.0644122383rem; }
  .moreTypeSelectBox p {
    color: #494848;
    line-height: 0.7729468599rem;
    font-size: 0.5152979066rem; }
  .moreTypeSelectBox > div {
    width: 100%;
    border: 0.038647343rem solid #e2e2e2;
    box-sizing: border-box;
    padding: 0 0.0901771337rem 0.2576489533rem 0.0901771337rem;
    margin-top: 0.4508856683rem;
    border-radius: 0.1288244767rem; }
    .moreTypeSelectBox > div ul {
      width: 100%;
      max-height: 3.7101449275rem;
      overflow: hidden; }
      .moreTypeSelectBox > div ul li {
        width: 4.3800322061rem;
        height: 1.5458937198rem;
        line-height: 1.5458937198rem;
        float: left;
        margin: 0.309178744rem 0.2576489533rem 0 0.2576489533rem;
        border: 0.038647343rem solid #e2e2e2;
        box-sizing: border-box;
        border-radius: 0.1288244767rem;
        font-size: 0.5152979066rem;
        color: #8997a5;
        text-align: center;
        padding: 0 0.1288244767rem; }
        .moreTypeSelectBox > div ul li.select {
          background-color: #fdd456;
          border-color: #fdd456;
          color: #fff; }
    .moreTypeSelectBox > div span {
      font-size: 0.5152979066rem;
      color: #dcdcdc;
      margin: 0.38647343rem 0.3349436393rem 0.2576489533rem 0;
      line-height: 0.5152979066rem;
      cursor: pointer; }
      .moreTypeSelectBox > div span:before {
        content: '灞曞紑';
        display: inline-block;
        height: 100%;
        margin-right: 0.3607085346rem; }
      .moreTypeSelectBox > div span:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 0.2061191626rem solid #8997a5;
        border-left: 0.2061191626rem solid transparent;
        border-right: 0.2061191626rem solid transparent;
        border-bottom: none;
        vertical-align: middle; }
      .moreTypeSelectBox > div span.showMore:before {
        content: '鏀惰捣'; }
      .moreTypeSelectBox > div span.showMore:after {
        border-top: none;
        border-bottom: 0.2061191626rem solid #8997a5;
        border-left: 0.2061191626rem solid transparent;
        border-right: 0.2061191626rem solid transparent; }
    .moreTypeSelectBox > div.showMore > ul {
      max-height: inherit;
      height: auto; }

.renewReleaseGood {
  display: none;
  width: 2.576489533rem;
  height: 1.1336553945rem;
  line-height: 1.1336553945rem;
  text-align: center;
  color: #fff;
  font-size: 0.5152979066rem;
  border-radius: 0.1288244767rem;
  background-color: #fdd456;
  margin-right: 0.5152979066rem; }

.attachmentList {
  width: 100%;
  padding: 0.5152979066rem 0.4508856683rem 0 0.4508856683rem;
  box-sizing: border-box; }
  .attachmentList li {
    width: 2.8985507246rem;
    height: 2.8985507246rem;
    float: left;
    margin: 0.0644122383rem; }
    .attachmentList li img {
      max-width: 100%;
      max-height: 100%; }

/*# sourceMappingURL=style.css.map */
